@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 80vh;
    width: 75vh;
    background-color: black;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
    /* background-color: rgba(43, 43, 104, 0.644); */
}
section#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
iframe#tela{
    position: relative;
    top: 64px;
    left: 144px;
    width: 212px;
    height: 376px;
}
section#redes-sociais img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.596);
    box-sizing: border-box;
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img:hover{
    border: 3px solid rgba(255, 255, 255, 0.7);
    border: 5px 5px 18px rgba(0, 0, 0, 0.685);
}